@section Styles{
    <link
    rel="stylesheet"
    href="~/css/contact.css"
  />
}

<h1>Contact Page</h1>

  @section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
  }